<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Project.Repository.Properties.Settings.Car_projectDatabaseConnectionString"
            connectionString="Data Source=car-project.database.windows.net;Initial Catalog=Car-projectDatabase;User ID=Newton;Password=Cars1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>